<font size="6"><b>RESOURCES FOR THIS SESSION'S TOPICS</b></font>

# Resources for databases

## Watchlist

[![regex watch list](https://img.youtube.com/vi/N3nW9Q7HKyg/0.jpg)](https://www.youtube.com/playlist?list=PLg3eScSbYgxlsLMwq3T6v1NNkxHd5Z-dn)

## Reading material

- 20 Basic SQL Query Examples for Beginners: A Complete Overview

https://learnsql.com/blog/basic-sql-query-examples/

- Using DBI

https://solutions.posit.co/connections/db/r-packages/dbi/

- Introduction to dbplyr

https://dbplyr.tidyverse.org/articles/dbplyr.html

- Writing SQL with dbplyr

https://dbplyr.tidyverse.org/articles/sql.html

# Resources for datetime

## Video

- Lubridate - how to manipulate date and time data in R

[![lubridate](https://img.youtube.com/vi/g4JF_Ew8qEc/0.jpg)](https://www.youtube.com/watch?v=g4JF_Ew8qEc)

## Reading material

- Lubridate overview:

https://lubridate.tidyverse.org/

- Do more with dates and times in R:

https://lubridate.tidyverse.org/articles/lubridate.html